.create-set-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
textarea:focus,
input:focus {
  outline: 0;
}
#name-set {
  border: 1px solid rgb(0, 0, 0);
  text-align: center;
  padding: 5px 10px 5px 10px;
  box-shadow: 3px 3px 3px 1px rgb(196, 196, 196);
  resize: none;
}

.katex-display {
  position: relative;
  font-size: 2em;
  white-space: pre-line; 
}

.front-side {
  white-space: pre-line; 
  border-width: 0px;
  padding: 0;
  position: relative;
  text-align: center;
  height: 100%;
  width: 100%;
  resize: none;
}
.back-side {
  white-space: pre-line; 
  border-width: 0px;
  padding: 0;
  position: relative;
  text-align: center;
  height: 100%;
  width: 100%;
  resize: none;
}
.delete-button {
  position: relative;
  right: -1025px;
  top: -92px;
  color: rgb(241, 241, 241);
  border-radius: 32px;
  fill: rgb(207, 0, 0);
  z-index: 2;
}
.delete-button:hover {
  transition: 0.15s;
  opacity: 0.6;
}
.add-card-button {
  background-color: rgb(255, 255, 255);
  height: 30px;
  width: 75px;
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: 2px 2px 3px 1px rgb(196, 196, 196);
}
.create-set-button {
  background-color: rgb(255, 255, 255);
  height: 30px;
  width: 90px;
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: 2px 2px 3px 1px rgb(196, 196, 196);
}
.add-card-button:hover,
.create-set-button:hover {
  transition: 0.15s;
  opacity: 0.7;
}
.add-card-message {
  margin-top: 10px;
  margin-left: 20px;
}
