.home-page {
	padding: 10px;
	background: linear-gradient(180deg, #305e11, #233715);
	color: rgb(255, 217, 0);
}

.home-starter-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.complaint-link {
	color: rgb(40, 158, 255);
	text-decoration: underline;
}

.home-starter {
	font-size: calc(4vw + 2vh);
	margin: 10px;
}

.complaints,
.what-we-are,
.how-to-use,
.contributors-writing {
	margin: 5px 10px;
	font-size: calc(2vw + 1vh);
	padding: 2px;
}
