ul {
  list-style-type: none;
  padding: 0px;
}

.navbar-container {
  height: fit-content;
  display: flex;
  margin-bottom: 50px;
}

.logo-container {
  flex: 2;
  background-color: lightblue;
}

.navbar-logo {
  text-align: left;
  padding-left: 50px;

  height: 100%;
  line-height: 70px;
  font-weight: bold;
  font-size: 30px;
  width: fit-content;
}

.nav {
  all: unset;
}

.navbar-bar {
  flex: 2;
  background-color: lightblue;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0px;
  height: 70px;
}

.navbar-link {
  width: 100%;
  height: 100%;
  line-height: 70px;
  text-align: center;
  font-size: 25px;
  transition: 0.15s;
  display: flex;
}

.create-link {
  border: 1px solid black;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
}

.accsign-link {
  border: 1px solid black;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
}

.home-link {
  border: 1px solid black;
  border-top-width: 0px;
  border-bottom-width: 0px;
}

.search-link {
  border: 1px solid black;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
}

.navbar-link-real {
  width: 100%;
}

.navbar-link:hover {
  background-color: rgb(185, 231, 247);
  transition: 0.15s;
}

nav {
  margin: 0;
}

ul {
  margin: 0;
}

li {
  margin: 0;
}
