.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
    margin: 10px;
    min-height: 100px;
}

.view-front, .view-back{
    height: 100px;
    flex: 1;
    margin: 5px;
    padding: 5px;
    text-align: center;
}

.view-front {
    border-right: 1px solid lightgray;
}