.flashcard-metadata {
  padding-left: 20px;
  font-size: 20px;
}

.viewset-title {
  font-size: 40px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.viewset-author,
.viewset-card-title {
  font-size: 30px;
  font-weight: 500;
  padding: 3px;
  padding-left: 0px;
}

.viewset-card-title {
  text-align: center;
}

.viewset-infopart {
  margin: 5px;
  margin-left: 0px;
  padding: 3px;
  padding-left: 0px;
}

.viewset-classes,
.viewset-teachers {
  display: flex;
}

.item-viewset {
  border: 1px solid black;
  margin: 5px;
  padding: 3px;
  background-color: rgb(244, 255, 143);
  box-shadow: 0px 0px 4px 0.5px rgba(0, 0, 0, 0.1);
  transform: translateY(var(--translate-y, 0));
  transition: 150ms;
}

.item-viewset:hover {
  --translate-y: -1px;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(85, 85, 85);
  margin: 10px;
  min-height: 100px;
}

.view-front,
.view-back {
  height: 100px;
  flex: 1;
  margin: 5px;
  padding: 5px;
  text-align: center;
  overflow: auto;
  height: 100%;
}

.view-front {
  border-right: 1px solid rgb(85, 85, 85);
}

.viewset-button-wrapper {
  display: flex;
  margin: 20px;
}

.cards-viewer {
  background-color: rgb(255, 255, 255);
  padding: 10px;
  transition: 250ms;
}

.viewset-buttons {
  flex: 1;
  color: black;
  border: 1px solid rgb(223, 241, 228);
  padding: 18px 36px;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(62, 131, 61);
  cursor: pointer;
  box-shadow: inset 0 0 0 0 rgb(106, 194, 102);
  transition: ease 0.3s;
}

@media (max-width: 600px) {
  .viewset-teachers,
  .viewset-classes {
    overflow: wrap;
    flex-wrap: wrap;
    max-width: calc(100%-20px);
  }
}

.viewset-buttons:hover {
  box-shadow: inset 0 0 0 50px rgb(106, 194, 102);
}

.vsedit-button {
  border: 2px solid blue;
  background-color: white;
  box-shadow: inset 0 0 0 0 blue;
  font-size: 20px;
  color: blue;
  padding: 10px;
  transition: ease 0.3s;
  margin-left: 20px;
}

.vsedit-button:hover {
  cursor: pointer;
  color: lightcyan;
  box-shadow: inset 0 0 0 50px blue;
}

.exit-fsmode-button {
  background-color: rgb(133, 172, 255);
  padding: 10px 0px 10px 0px;
  font-weight: 700;
  transition: 250ms;
  border: 2px solid black;
}

.exit-fsmode-button:hover {
  background-color: rgb(172, 198, 255);
  cursor: pointer;
}
