.field-container {
	border: 1px solid black;
	width: 50%;
	margin: 0px 0px 10px 0px;
	display: flex;
	flex-direction: column;
}

.user-field-change-label {
	background-color: rgb(247, 255, 173);
	border-bottom: 1px solid black;
	color: black;
	padding: 5px 0px;
	flex: 1;
}

.change-field-wrap {
	display: flex;
}
.change-username-input {
	flex: 1;
	border: none;
	background-color: rgb(243, 243, 243);
}
.change-role-select {
	flex: 1;
	border: none;
	background-color: rgb(243, 243, 243);
}
.change-field {
	flex: 1;
	border: none;
	background-color: white;
	padding: 0px;
	min-height: 25px;
	transition: background-color 0.25s;
}
.change-field:hover {
	background-color: rgb(205, 205, 255);
	cursor: pointer;
}
.change-field:active {
	background-color: rgb(236, 210, 125);
}
