.class-container {
  background-color: rgb(256, 244, 212);
  width: fit-content;
  /*border: 2px solid black;*/
  min-height: 200px;
  max-height: 200px;
  transition: 0.05s;
  font-size: 20px;
}

@media (max-width: 600px) {
  .class-container {
    width: 90vw;
    height: 200px;
  }
  .cs-class-buttons {
    max-width: 90vw;
    all: revert;
  }
  .class-button {
    font-size: 3vw;
  }
}

@media (min-width: 601px) {
  .class-button {
    font-size: 15px;
  }
}

.class-checkbox {
  width: fit-content;
  border-width: 0px 0px 1px 0px;
  border-color: black;
  border-style: solid;
}

.class-checkbox:hover {
  cursor: pointer;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.class-select-title {
  text-align: center;
  background-color: rgb(243, 243, 243);
}

.class-button {
  background-color: rgb(213, 213, 213);
  border-width: 0px;
  box-sizing: border-box;
  width: 100%;
  transition: 0.15s;
}

.class-button:hover {
  background-color: rgb(247, 247, 247);
  opacity: 0.8;
  transition: 0.15s;
  cursor: pointer;
}

.border {
  background-color: black;
}

.cs-class-buttons {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

#main,
#compsci,
#njrotc,
#science,
#math,
#history,
#world_language,
#english {
  width: 100%;
  max-height: 74.5%;
  overflow-y: scroll;
  background-color: rgb(256, 244, 212);
}

.main-enter {
  position: absolute;
  transform: translateX(-110%);
}

.main-enter-active {
  transform: translateX(0%);
  transition: all 0.2s ease;
}

.main-exit {
  position: absolute;
}

.main-exit-active {
  transform: translateX(-110%);
  transition: all 0.2s ease;
}
