.flashcard-mode-body {
  width: 100%;
}

.card-container-fsm {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: rgb(111, 111, 111);
  padding-left: 150px;
  flex: 1;
}

@media (max-width: 600px) {
  .card-container-fsm {
    flex-direction: column;
    width: 100vw;
    padding: 0;
  }
  .fs-buttons {
    z-index: 2;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 100px;
    width: 90vw;
    margin: 10px 0px 0px 0px;
  }
  .card {
    max-width: 90vw;
  }
  .katex {
    font-size: calc(calc(3vw + 3vh) / 2);
  }
  .card-correct {
    fill: rgb(7, 205, 7);
    margin-top: 0px;
  }

  .card-incorrect {
    fill: red;
    margin: 0px;
  }
  .unflipped {
    opacity: 0;
  }

  .card-correct,
  .card-incorrect {
    width: 100px;
    height: 100px;
    cursor: pointer;
    transition: 0.25s;
    will-change: opacity;
    z-index: 1;
  }
  .status-container {
    background-color: rgb(111, 111, 111);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .bucket-title {
    font-size: 3vw;
    padding: 2px;
    margin: 5px;
  }
}

.cl-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(111, 111, 111);
}

.single {
  border: 2px solid gold;
  box-shadow: 0px 0px 4px 2px gold !important;
}

.current-level {
  background-color: rgb(225, 225, 225);
  padding: 5px 10px 5px 10px;
  width: 70%;
  font-size: 15px;
  text-align: center;
  font-weight: 500;
  border-radius: 20px;
  margin: 20px;
  max-width: 500px;
}

.reset-prog-button {
  background-color: rgb(223, 89, 89);
  font-weight: 600;
  padding: 7px 10px 7px 10px;
  font-size: 15px;
  width: 70%;
  text-align: center;
  border-radius: 20px;
  margin: 20px;
  border: 1px;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.5);
  transition: 250ms;
  transform: translateY(var(--translate-y, 0));
  max-width: 500px;
}

.reset-prog-button:hover {
  --translate-y: -3px;
  cursor: pointer;
}

.card-correct:hover,
.card-incorrect:hover {
  opacity: 0.7;
}

.flipped-b,
.unflipped-b {
  overflow: hidden;
}

.flipped {
  transform: translateX(0px);
  transform: translateY(0px);
}

.card-correct,
.fs-buttons,
.card-incorrect {
  border: 1px solid black;
  border-radius: 200px;
  background-color: black;
}

@media (min-width: 601px) {
  .fs-buttons {
    z-index: 2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: stretch;
    margin: 0px 0px 0px 30px;
    min-width: 101.3px;
  }
  .card-correct {
    fill: rgb(7, 205, 7);
    margin-top: 150px;
  }

  .card-incorrect {
    fill: red;
    margin: 0px;
  }
  .unflipped {
    transform: translateX(-150px);
  }

  .card-correct,
  .card-incorrect {
    width: 100px;
    height: 100px;
    cursor: pointer;
    opacity: 1;
    transition: 0.25s;
    z-index: 1;
  }
  .status-container {
    background-color: rgb(111, 111, 111);
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
}

.bucket-text {
  font-size: 20px;
  color: rgb(15, 15, 15);
  font-weight: bold;
  background-color: rgb(111, 111, 111);
  text-align: center;
  padding: 5px 0px;
}

.bucket {
  flex: 1;
  background-color: rgb(143, 181, 227);
  padding: 0px 0px 0px 0px;
  border-radius: 10px;
  transition: 50ms;
  width: 90%;
  height: fit-content;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.3);
  margin: 0px 5px 5px 5px;
}

.bucket:hover {
  cursor: pointer;
}

.bucket-holder {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}

.bucket-title {
  text-align: center;
  background-color: rgb(92, 153, 227);
  border-radius: 10px;
  font-weight: bold;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.3);
}

.green-dot {
  color: green;
  border-radius: 20px;
}
