.card-container-fsm {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: rgb(111, 111, 111);
  padding-left: 150px;
  flex: 1;
}

.cl-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(111, 111, 111);
}

.current-level {
  background-color: rgb(225, 225, 225);
  padding: 5px 10px 5px 10px;
  width: 70%;
  font-size: 15px;
  text-align: center;
  font-weight: 500;
  border-radius: 20px;
  margin: 20px;
  max-width: 500px;
}

.reset-prog-button {
  background-color: rgb(223, 89, 89);
  font-weight: 600;
  padding: 7px 10px 7px 10px;
  font-size: 15px;
  width: 70%;
  text-align: center;
  border-radius: 20px;
  margin: 20px;
  border: 1px;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.5);
  transition: 250ms;
  transform: translateY(var(--translate-y, 0));
  max-width: 500px;
}

.reset-prog-button:hover {
  --translate-y: -3px;
  cursor: pointer;
}

.card-correct,
.card-incorrect {
  width: 100px;
  height: 100px;
  cursor: pointer;
  opacity: 1;
  transition: 0.25s;
  transform: translateX(-150px);
  z-index: 1;
}

.card-correct:hover,
.card-incorrect:hover {
  opacity: 0.7;
}

.flipped-b,
.unflipped-b {
  overflow: hidden;
}

.flipped {
  transform: translateX(0px);
}

.unflipped {
  transform: translateX(-150px);
}

.card-correct,
.fs-buttons,
.card-incorrect {
  border: 1px solid black;
  border-radius: 200px;
  background-color: black;
}

.card-correct {
  fill: rgb(7, 205, 7);
  margin-top: 150px;
}

.card-incorrect {
  fill: red;
}

.fs-buttons {
  z-index: 2;
  height: 1fr;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: stretch;
  margin-left: 30px;
}

.status-container {
  background-color: rgb(111, 111, 111);
  display: flex;
  align-items: center;
  justify-content: center;
}

.bucket {
  margin: 20px;
  background-color: rgb(143, 181, 227);
  padding: 5px 5px 20px 5px;
  border-radius: 10px;
}

.bucket-holder {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.green-dot {
  color: green;
}
